.catalog-container {
  font-size: 18px;
  padding: 0;
}

.catalog-title-container h1 {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  margin-left: 30px;
}

@media (min-width: 576px) {
  .catalog-container {
    font-size: 30px;
  }
}
